<div class="container">
  <div class="form-group">
    <div class="col-xs-5">
      <h3><%= @user.name %></h3>
      <h4> Ask Me About</h4>
      <% @trips.each do |trip| %>
        <p><%= trip.city %>, <%= trip.country %></p>
        <p> Photography </p>
        <p> Yoga </p>
    <% end %>
    </div>
  </div>
</div>
