<div class="container-fluid">
  <div class="form-group">
    <div class="col-xs-4">
      <% @trips.each do |trip| %>
        <h3> Ask Me About :</h3>
        <h2><%= trip.city %>, <%= trip.country %>
      <%= link_to "The Thought Card", "http://thoughtcard.com/the-ultimate-barbados-travel-guide/" %></h2>
    <% end %>
    </div>
  </div>
</div>
