<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
        <!--Sidebar content-->
        <ul>
        <%= image_tag @user.image + "?type=large" %>
        <%= @user.name %>
        <%= @user.provider %>
        <h5> Edit Profile </h5>
        <h5> Add A Trip </h5>
      </ul>
    </div>
    <div class="span9">
      <!--Body content-->
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="thumbnail">
            <p><strong>Inbox</strong></p>
            <p>10 messages</p>
            <button class="btn">Open</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <p><strong>Upcoming Trips</strong></p>
            <p>3 </p>
            <button class="btn">Update</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <p><strong>Past Trips</strong></p>
            <p>4</p>
            <button class="btn">Take A Look</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <p><strong>Ask Me About</strong></p>
            <p>3</p>
            <button class="btn">Update</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <p><strong>Meet me For</strong></p>
            <p>3</p>
            <button class="btn">Update</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <p><strong>Friends</strong></p>
            <p>10</p>
            <button class="btn">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
